body {
  background-color: CornflowerBlue;
}
.picture {
  width: 10%;
  height: 10%;
}
p{
  font-size: 40%;
}
p{
  font-size: 50%;

  }
li{
  font-size: 80%;
}
ol{
  font-size: 60%;
}
ol{

}
.square{
  width: 50%;
  float: left;
  }
